parameters:
    level: 9
    paths:
        - src
        - tests
        - public
        - dependencies
        - bin/console
        - bin/doctrine
    inferPrivatePropertyTypeFromConstructor: true

includes:
    - /opt/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - /opt/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon
    - /opt/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /opt/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
