parameters:
    level: 9
    paths:
        - src
        - tests
        - dependencies
        - bin/console
        - bin/doctrine
    inferPrivatePropertyTypeFromConstructor: true
    stubFiles:
        - stubs/Container.php

includes:
    - /phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - /phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
