<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    cacheResult="false"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true"
    failOnAllIssues="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
    <php>
        <env name="DB_URL" value="sqlite:///:memory:" force="true"/>
    </php>
</phpunit>
