{% extends "base.html" %}

{% block content %}

<p>
    <a href="{{ url_for('list') }}">list of districts</a>
</p>

{% if errorMessage %}
<p class="error message notice">{{ errorMessage }}</p>
{% endif %}

<form action="" method="post" class="entity">

    <p>
        <label for="name">city:</label>
        <select name="city">
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
    </p>

    {{ include('form.html') }}

    <input type="submit" name="save" value="save">

</form>

{% endblock %}
