{% extends "base.html" %}

{% block content %}

<p>
    <a href="{{ path_for('list') }}">list of districts</a>
</p>

<form action="" method="post" class="entity">

    <div>
        <label for="name">city:</label>
        <select name="city">
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>

    {{ include('form.html') }}

    <input type="submit" name="save" value="save">

</form>

{% endblock %}
