<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
</head>

<body>

<h1>{{ title }}</h1>

{% block content %}{% endblock %}

<style type="text/css">

form.entity div {
    vertical-align: middle;
    display: table-cell;
}

form.entity label {
    width: 7em;
    display: inline-block;
}

form.entity input[type="text"] {
    padding: 0.5ex;
    border-style: solid;
    border-color: grey;
}

form.entity input[type="text"].error {
    border-color: red;
}

form#filter {
    margin-top: 1em;
    margin-bottom: 1em;
}

</style>

</body>

</html>
