{% extends "base.html" %}

{% block content %}

{% if successMessage %}
<p class="success message" id="close_message">
    {{ successMessage }}
    <a class="close" href="#close_message" title="dismiss message">&#x2715;</a>
</p>
{% endif %}

<p>
    <a href="{{ url_for('add') }}">add a district</a>
</p>

<form action="{{ url_for('list') }}" method="get" id="filter">

    <label for="filterColumn">filter column:</label>
    <select name="filterColumn">
        <option value="city" {% if filterColumn == 'city' %} selected="selected" {% endif %}>city name</option>
        <option value="name" {% if filterColumn == 'name' %} selected="selected" {% endif %}>district name</option>
        <option value="area" {% if filterColumn == 'area' %} selected="selected" {% endif %}>area</option>
        <option value="population" {% if filterColumn == 'population' %} selected="selected" {% endif %}>population</option>
    </select>

    <label for="name">filter value:</label>
    <input type="text" name="filterValue" value="{{ filterValue }}">

    <input type="submit" name="" value="filter">

    <p>
        Filter value can be substring for names, range (123-456) for numbers.
    </p>

</form>

{% if errorMessage %}
<p class="error message" id="close_error_message">
    {{ errorMessage }}
    <a class="close" href="#close_error_message" title="dismiss message">&#x2715;</a>
</p>
{% endif %}

<table id="districts">

    <thead>
        <tr>
            <th class="city">
                <a href="{{ orderingUrls['city'] }}">city name</a>
            </th>
            <th class="name">
                <a href="{{ orderingUrls['name'] }}">district name</a>
            </th>
            <th class="area">
                <a href="{{ orderingUrls['area'] }}">area [km²]</a>
            </th>
            <th class="population">
                <a href="{{ orderingUrls['population'] }}">population</a>
            </th>
            <th class="edit"></th>
            <th class="remove"></th>
        </tr>
    </thead>

    <tbody>

        {% for district in districts %}

        <tr>
            <td class="city">
                {{ district.city.name }}
            </td>
            <td class="name">
                {{ district.name }}
            </td>
            <td class="area">
                {{ district.area.asFloat|number_format(2) }}
            </td>
            <td class="population">
                {{ district.population }}
            </td>
            <td class="edit">
                <a href="{{ url_for('edit', {'id': district.id }) }}">edit</a>
            </td>
            <td class="remove">
                <a href="{{ url_for('remove', {'id': district.id }) }}">remove</a>
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% if pagination %}
<p class="pagination">
    pages:
    {% for page_reference in pagination %}
        {% if page_reference.url %}
        <a href="{{ page_reference.url }}" {% if page_reference.isCurrent %}class="current"{% endif %}>{{ page_reference.text }}</a>
        {% else %}
            <span>{{ page_reference.text }}</span>
        {% endif %}
    {% endfor %}
</p>
{% endif %}

<style type="text/css">

table#districts {
    border-spacing: 0;
}

table#districts td,
table#districts th {
    padding: 1ex;
    border-bottom: solid 1px black;
}

table#districts th {
    border-top: solid 1px black;
}

table#districts th {
    font-weight: normal;
    text-align: center;
    background-color: lightgray;
}

table#districts th.edit,
table#districts th.remove,
table#districts td.edit,
table#districts td.remove {
    width: 5em;
    text-align: center;
}

table#districts td.area,
table#districts td.population {
    text-align: right;
}

p.pagination a.current {
    font-weight: bold;
}
    
</style>

{% endblock %}
